.saved-news {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.saved-news__cards {
  background-color: #f5f6f7;
  padding: 62px 0;
  flex-grow: 1;
}

.saved-news__container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 24px;
}

.saved-news__empty {
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  text-align: center;
  margin: 40px 0;
}

@media screen and (max-width: 1279px) {
  .saved-news__cards {
    padding: 32px 0;
  }

  .saved-news__container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .saved-news__cards {
    padding: 24px 0;
  }

  .saved-news__container {
    padding: 0 16px;
  }
}
